





















/* .clearfix::after {
    clear: both;
    display: table;
    content: "";
}

header {
    background: yellow;
    height: 30px;
}

main {
    border: 1px solid;
}
.left-menu {
    background: gray;
    height: 50px;
    float: left;
    width: 30%;
}
.conten {
    background: brown;
    float: right;
    width: 70%;
}
footer {
    background: lime;
    height: 50px;
} */
